<?xml version="1.0"?>
<data>
    <script nombre="ACTUALIZARTVH">
        <nombre>Actualizar TVHeadend (NormandyEPG)</nombre>
        <enable>si</enable>
        <link>https://bit.ly/sfsk4skh</link>
        <nombre_scr>ActualizarTVH.sh</nombre_scr>
        <tipo>bash</tipo>
        <parametros></parametros>
        <version>0.91</version>
        <novedades>Ver. 0.91 (2019/03/01)
            - Cambiada nomenclatura de ficheros .zip, .ver y Cambios
        </novedades>        
        <desc>Para actualizar TVHeadend y la EPG</desc>     
    </script>
    <script nombre="RETROCISKO">
        <nombre>Retrocisko</nombre>
        <enable>SI</enable>
        <link>https://bit.ly/asRT4skh</link>
        <nombre_scr>rcroms.pyo</nombre_scr>
        <tipo>python</tipo>
        <parametros></parametros>        
        <version>1.02</version>
        <novedades>Ver. 1.02 (2019/03/03)
    - Corregido error de inicio
        </novedades>
        <desc>Instalar Retrocisko y descargar packs de roms</desc>
    </script>
    <script nombre="SPUFYDOCKERS">
        <nombre>Spufy Dockers</nombre>
        <enable>1</enable>
        <link>https://bit.ly/dsfTh45</link>
        <nombre_scr>spdockers.py</nombre_scr>
        <tipo>python</tipo>
        <parametros></parametros>        
        <version>0.3</version>
        <novedades>Ver. 0.3 (2019/02/28)
            - Corregidos errores
        </novedades>        
        <desc>Para descargar los dockers de Spufy</desc>     
    </script>
</data>
