<?xml version="1.0"?>
<data>
    <script nombre="Retrocisko">
        <enable>SI</enable>
        <link>https://gitlab.com/txemoto/retrocisko/raw/master/rcroms.pyo</link>
        <nombre>rcroms.pyo</nombre>
        <tipo>python</tipo>
        <version>1.0</version>
        <desc>Para descargar packs de roms (Solo Baño Digital)</desc>
    </script>
    <script nombre="Spufy Dockers">
        <enable>1</enable>
        <link>https://raw.githubusercontent.com/Mecool-KX/SpufyDockers/master/spdockers.py</link>
        <nombre>spdockers.py</nombre>
        <tipo>python</tipo>
        <version>1.0</version>
        <desc>Para descargar los dockers de Spufy</desc>     
    </script>
</data>
